body {
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.2);
  border-radius: 16px;
  padding: 30px;
}
a {
  color: #9198e5;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 15px 18px;
  width: 75%;
  border-radius: 6px;
}
.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background: linear-gradient(#e66465, #9198e5);
  color: white;
  border: none;
  padding: 15px 18px;
  line-height: 1;
  border-radius: 6px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 8px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.current-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.9);
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: #f9f7fe;
}
.current-details strong {
  color: #f9f7fe;
}
.current-temperature {
  display: flex;
}
.weather-app-temperature {
  font-size: 65px;
  font-weight: bold;
  color: #f9f7fe;
  margin-top: 10px;
}
.weather-app-icon {
  width: 65px;
  margin-top: 18px;
  margin-left: 5px;
}
.weather-app-unit {
  font-size: 24px;
  margin-top: 20px;
  color: #f9f7fe;
}
.weather-forcast {
  margin-top: 20px;
  color: #000;
}
.weather-forcast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forcast-temperatures {
  font-size: 13px;
}
.weather-forcast-temperature-min {
  opacity: 0.6;
}
